<div class="row" ng-controller="socAgricultureCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Сельское хозяйство</h3>
                    </div>

                </div>

            </md-card>


            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Объем валовой продукции">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Объем валовой продукции сельского хозяйства, млн. тенге</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Импорт и экспорт товарооборота внешней торговли, млн.дол.США</h3>
                                    <div id="chart2"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">ИФО товарооборота внешней торговли</h3>
                                    <div id="chart3"></div>
                                </div>

                            </div>


                         </md-content>
                    </md-tab>

                    <md-tab label="Сельское хозяйство. Животноводство">
                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">Производство продукции живодноводства</h3>
                                                <div id="chart4"></div>

                                    </div>

                                    <div class="col-md-6">
                                        <div style="position: absolute;top: 50px;left: 25%;">
                                            <style type="text/css">
                                                .tg  {border-collapse:collapse;border-spacing:0;}
                                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                .tg .tg-s6z2{text-align:center}
                                                .tg .tg-e3zv{font-weight:bold}
                                                .tg .tg-hgcj{font-weight:bold;text-align:center}
                                            </style>
                                            <table class="tg">
                                                <tr>
                                                    <th class="tg-e3zv">Поголовье скота, тыс.голов</th>
                                                    <th class="tg-hgcj">2015</th>
                                                    <th class="tg-hgcj">2016</th>
                                                    <th class="tg-hgcj">2017</th>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">верблюды</td>
                                                    <td class="tg-s6z2">30,9</td>
                                                    <td class="tg-s6z2">31,4</td>
                                                    <td class="tg-s6z2">31,7</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">крупно-рогатый скот</td>
                                                    <td class="tg-s6z2">159,1</td>
                                                    <td class="tg-s6z2">159,9</td>
                                                    <td class="tg-s6z2">166,9</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">лошади</td>
                                                    <td class="tg-s6z2">59,3</td>
                                                    <td class="tg-s6z2">63,7</td>
                                                    <td class="tg-s6z2">72,5</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">овцы и козы</td>
                                                    <td class="tg-s6z2">566,8</td>
                                                    <td class="tg-s6z2">575,5</td>
                                                    <td class="tg-s6z2">588,3</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">птицы</td>
                                                    <td class="tg-s6z2">336,2</td>
                                                    <td class="tg-s6z2">500</td>
                                                    <td class="tg-s6z2">379,6</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-031e">свиньи</td>
                                                    <td class="tg-s6z2">0,3</td>
                                                    <td class="tg-s6z2">0,4</td>
                                                    <td class="tg-s6z2">0,5</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </md-card>



                        </md-content>
                    </md-tab>


                    <md-tab label="Сельское хозяйство. Растениеводство.">
                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">Общая площадь сельскохозяйственных культур, ГА</h3>
                                                <div id="chart5"></div>

                                    </div>

                                    <div id="chartDonut" class="col-md-6 text-right" >
                                        <h3 class="title text-center" style="text-transform: uppercase">Общая площадь сельскохозяйственных культур, ГА</h3>

                                        <span style="margin-right: 10px;" class="label" ng-click="selectDate('2015')" ng-class="{bg__color__active__date : activeMenu === '2015'}">2015</span>
                                        <span style="margin-right: 10px;" class="label" ng-click="selectDate('2016')" ng-class="{bg__color__active__date : activeMenu === '2016'}">2016</span>
                                        <span style="margin-right: 10px;" class="label" ng-click="selectDate('2017')" ng-class="{bg__color__active__date : activeMenu === '2017'}">2017</span>

                                         <div id="chart6" ></div>
                                    </div>

                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-6">

                                        <h3 class="title text-center" style="text-transform: uppercase">ОВОЩИ, ГА</h3>
                                        <div id="chart7"></div>

                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="title text-center">КАРТОФЕЛЬ, ГА</h3>
                                        <div id="chart8" ></div>
                                    </div>

                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-6">

                                        <h3 class="title text-center" style="text-transform: uppercase">БАХЧЕВЫЕ, ГА</h3>
                                        <div id="chart9"></div>

                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="title text-center">КОРМОВЫЕ, ГА</h3>
                                        <div id="chart10" ></div>
                                    </div>

                                </div>
                            </md-card>

                        </md-content>
                    </md-tab>


                    <md-tab label="Объем сельского хозяйства по областям.">


                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-12 text-right">

                                                <h3 class="title text-center" style="text-transform: uppercase">Объем продукции сельского хозяйства по облястям, млн тенге</h3>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2010')" ng-class="{bg__color__active__date : activeMenu2 === '2010'}">2010</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2011')" ng-class="{bg__color__active__date : activeMenu2 === '2011'}">2011</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2012')" ng-class="{bg__color__active__date : activeMenu2 === '2012'}">2012</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2013')" ng-class="{bg__color__active__date : activeMenu2 === '2013'}">2013</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2014')" ng-class="{bg__color__active__date : activeMenu2 === '2014'}">2014</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2015')" ng-class="{bg__color__active__date : activeMenu2 === '2015'}">2015</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate2('2016')" ng-class="{bg__color__active__date : activeMenu2 === '2016'}">2016</span>
                                                <div id="chart11"></div>

                                    </div>



                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-8">

                                        <h3 class="title text-center" style="text-transform: uppercase; padding-left: 50%">Объем продукции сельского хозяйства по области на 1 полугодие, млн. тенге</h3>
                                        <div id="chart12"></div>

                                    </div>


                                </div>
                            </md-card>






                        </md-content>
                    </md-tab>







                    <md-tab label="ИФО сельского хозяйства по областям.">


                                <md-content class="md-padding">

                                    <md-card>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                                <h3 class="title text-center" style="text-transform: uppercase">ИФО объема продукции сельского хозяйства по годам</h3>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2010')" ng-class="{bg__color__active__date : activeMenu3 === '2010'}">2010</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2011')" ng-class="{bg__color__active__date : activeMenu3 === '2011'}">2011</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2012')" ng-class="{bg__color__active__date : activeMenu3 === '2012'}">2012</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2013')" ng-class="{bg__color__active__date : activeMenu3 === '2013'}">2013</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2014')" ng-class="{bg__color__active__date : activeMenu3 === '2014'}">2014</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2015')" ng-class="{bg__color__active__date : activeMenu3 === '2015'}">2015</span>
                                                <span style="margin-right: 10px" class="label" ng-click="selectDate3('2016')" ng-class="{bg__color__active__date : activeMenu3 === '2016'}">2016</span>
                                                <div id="chart13"></div>

                                            </div>



                                        </div>
                                    </md-card>


                                    <md-card>
                                        <div class="row">
                                            <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">ИФО объема продукции по годам</h3>
                                                <div id="chart14"></div>

                                            </div>

                                            <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">ИФО области за 1 полугодие</h3>
                                                <div id="chart15"></div>

                                            </div>



                                        </div>
                                    </md-card>

                                </md-content>

                    </md-tab>












        </md-content>
    </div>





</div>