<div class="row" ng-controller="DohodPlanCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Динамика доходов (план), млн. тенге</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>

                            <md-list-item ng-click="getParam('Всего доходов')" ng-class="{bg__color__active : activeMenu === 'Всего доходов'}">

                                <p>Всего доходов</p>

                            </md-list-item>



                            <md-list-item ng-click="getParam('Собственные')" ng-class="{bg__color__active : activeMenu === 'Собственные'}">

                                <p>Собственные</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Целевые трансферты')" ng-class="{bg__color__active : activeMenu === 'Целевые трансферты'}">

                                <p>Целевые трансферты из РБ</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Поступления от погашения')" ng-class="{bg__color__active : activeMenu === 'Поступления от погашения'}">

                                <p style="line-height: 20px">Поступления от погашения бюджетных кредитов</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Поступления от продажи')" ng-class="{bg__color__active : activeMenu === 'Поступления от продажи'}">

                                <p style="line-height: 20px">Поступления от продажи активов государства</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Кредитование')" ng-class="{bg__color__active : activeMenu === 'Кредитование'}">

                                <p>Кредитование</p>

                            </md-list-item>






                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-0ord{text-align:right}
                            .tg .tg-lqy6{text-align:right;vertical-align:top}
                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-yw4l{vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj">Наименование доходов</th>
                                <th class="tg-hgcj">2014</th>
                                <th class="tg-hgcj">2015</th>
                                <th class="tg-amwm">2016</th>
                                <th class="tg-amwm">2017</th>
                                <th class="tg-amwm">2018</th>
                                <th class="tg-amwm">2019</th>
                            </tr>
                            <tr>
                                <td class="tg-031e clickable" data-toggle="collapse" data-target=".row1" style="cursor: pointer">
                                    <i class="glyphicon glyphicon-plus"></i>


                                    <strong>Собственные</strong>


                                </td>
                                <td class="tg-0ord">133 860 879</td>
                                <td class="tg-0ord">152 490 584</td>
                                <td class="tg-lqy6">174 211 929</td>
                                <td class="tg-lqy6">248 286 306</td>
                                <td class="tg-lqy6">205 349 433</td>
                                <td class="tg-lqy6">215 730 358</td>
                            </tr>
                            <tr class="collapse row1">
                                <td class="tg-031e" style="padding-left: 20px;">- Налоговое поступления</td>
                                <td class="tg-0ord">131 082 743</td>
                                <td class="tg-0ord">148 501 009</td>
                                <td class="tg-lqy6">168 354 979</td>
                                <td class="tg-lqy6">241 579 338</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row1">
                                <td class="tg-yw4l" style="padding-left: 20px;">- Не налоговое поступления</td>
                                <td class="tg-lqy6">2 278 546</td>
                                <td class="tg-lqy6">2 345 676</td>
                                <td class="tg-lqy6">3 021 438</td>
                                <td class="tg-lqy6">4 636 349</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row1">
                                <td class="tg-yw4l" style="padding-left: 20px;">- Поступления от продажи основного капитала</td>
                                <td class="tg-lqy6">499 590</td>
                                <td class="tg-lqy6">1 643 899</td>
                                <td class="tg-lqy6">2 835 512</td>
                                <td class="tg-lqy6">2 070 619</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l clickable" data-toggle="collapse" data-target=".row2" style="cursor: pointer">
                                    <i class="glyphicon glyphicon-plus"></i>

                                    <strong>Целевые трансферты из РБ</strong></td>
                                <td class="tg-lqy6">39 971 671</td>
                                <td class="tg-lqy6">23 422 008</td>
                                <td class="tg-lqy6">48 231 633</td>
                                <td class="tg-lqy6">24 348 667</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row2">
                                <td class="tg-yw4l" style="padding-left: 20px;">- Целевые трансферты на развитие из РБ</td>
                                <td class="tg-lqy6">18 378 459,4</td>
                                <td class="tg-lqy6">4 362 155</td>
                                <td class="tg-lqy6">13 984 933</td>
                                <td class="tg-lqy6">13 328 318</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row2">
                                <td class="tg-yw4l" style="padding-left: 20px;">- Целевые текущие трансферты из РБ</td>
                                <td class="tg-lqy6">21 593 211,3</td>
                                <td class="tg-lqy6">19 059 853</td>
                                <td class="tg-lqy6">34 246 700</td>
                                <td class="tg-lqy6">11 020 349</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Поступления от погашения бюджетных кредитов</strong></td>
                                <td class="tg-lqy6">208 665</td>
                                <td class="tg-lqy6">233 628</td>
                                <td class="tg-lqy6">510 101</td>
                                <td class="tg-lqy6">1 839 930</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Поступления от продажи активов государства</strong></td>
                                <td class="tg-lqy6">18 968</td>
                                <td class="tg-lqy6">55 105</td>
                                <td class="tg-lqy6">15 000</td>
                                <td class="tg-lqy6">5 976</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Кредитование</strong></td>
                                <td class="tg-lqy6">2 855 448</td>
                                <td class="tg-lqy6">1 936 985</td>
                                <td class="tg-lqy6">3 240 280</td>
                                <td class="tg-lqy6">2 911 690</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Свободный остаток</strong></td>
                                <td class="tg-lqy6">17 803 365</td>
                                <td class="tg-lqy6">8 849 701</td>
                                <td class="tg-lqy6">7 929 918</td>
                                <td class="tg-lqy6">38 087 746</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                        </table>


                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>