<div class="row" ng-controller="socZHkhCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Социально-экономическое развитие. Строительство.</h3>
                    </div>

                </div>

            </md-card>

            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Объем строительных работ по областям">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Объем строительных работ по областям (млн. тенге)</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>

                        </md-content>
                    </md-tab>

                    <md-tab label="Объем строительных работ Атырауской области">
                        <md-content class="md-padding">

                            <md-card>

                                <div class="row">
                                    <div class="col-md-6">

                                        <h3 class="title text-center" style="text-transform: uppercase">Объем строительных работ по годам</h3>
                                        <div id="chart2"></div>

                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="title text-center" style="text-transform: uppercase">Объем строительных работ по формам собственности (млн. тенге)</h3>
                                        <div id="chart3"></div>
                                    </div>

                                </div>
                            </md-card>

                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">объем строительных работ атырауской области по видам строящихся объектов (млн. тенге)</h3>
                                        <div id="chart4"></div>

                                    </div>
                                </div>
                            </md-card>


                        </md-content>
                    </md-tab>


                    <md-tab label="Объем строительных работ атырауской области">
                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-6">

                                        <h3 class="title text-center" style="text-transform: uppercase">Предприятия, осуществляющие строительную деятельность (млн. тенге)</h3>
                                        <div id="chart5"></div>

                                    </div>

                                    <div id="chartDonut" class="col-md-6 text-right" >
                                        <h3 class="title text-center" style="text-transform: uppercase">Объем строительных работ по районам (млн. тенге)</h3>
                                        <div id="chart6" ></div>
                                    </div>

                                </div>
                            </md-card>

                        </md-content>
                    </md-tab>


                    <md-tab label="ВВод жилья в эксплуатацию по областям (кв.м.) за 2017 год">


                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-12 text-right">

                                        <h3 class="title text-center" style="text-transform: uppercase">ВВод жилья в эксплуатацию по областям (кв.м.) за 2017 год</h3>
                                        <div id="chart7"></div>

                                    </div>



                                </div>
                            </md-card>

                            <md-tab label="ВВод жилья в эксплуатацию и инвестиции ">


                                <md-card class="md-padding">

                                    <md-card>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                                <h3 class="title text-center" style="text-transform: uppercase">ВВод жилья в эксплуатацию и инвестиции в жилищное строительство атырауской области по годам</h3>

                                            </div>



                                        </div>
                                    </md-card>


                                    <md-card>
                                        <div class="row">

                                            <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">Ввод жилья в эксплуатацию</h3>


                                            </div>

                                            <div class="col-md-6">

                                                <h3 class="title text-center" style="text-transform: uppercase">Инвестиции в жилищное строительство</h3>


                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">

                                                     <div id="chart9"></div>

                                            </div>

                                            <div class="col-md-6">

                                                <div id="chart8"></div>

                                            </div>

                                        </div>

                                    </md-card>










            <md-tab label="Источники инвестиций в жилищное строительство за январь – ноябрь 2017">


            <md-content class="md-padding">

                <md-card>
                    <div class="row">
                        <div class="col-md-12 text-right">

                            <h3 class="title text-center" style="text-transform: uppercase">Источники инвестиций в жилищное строительство за январь – ноябрь 2017 (млн. тенге)</h3>

                        </div>



                    </div>
                </md-card>


                <md-card>
                    <div class="row">

                        <div class="col-md-12">

                                  <div id="chart10"></div>

                        </div>


                    </div>

                </md-card>




            </md-tab>



            <md-tab label="Ввод жилья по районам атырауской области">


                                        <md-content class="md-padding">

                                            <md-card>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">

                                                        <h3 class="title text-center" style="text-transform: uppercase">Источники инвестиций в жилищное строительство за январь – ноябрь 2017 (млн. тенге)</h3>

                                                    </div>



                                                </div>
                                            </md-card>


                                            <md-card>
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <h3 class="title text-center" style="text-transform: uppercase">Ввод жилья по видам (кв.м.)</h3>

                                                        <div id="chart12"></div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="title text-center" style="text-transform: uppercase">Ввод жилья по регионам (кв.м.)</h3>

                                                        <div id="chart13"></div>

                                                    </div>

                                                </div>

                                            </md-card>




                                    </md-tab>



            </md-card>
        </md-content>

    </div>
</div>





</div>