<div class="row" ng-controller="FinanceDeficitCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Финансирование дефицита (использование профицита) бюджета, ТЫС. ТЕНГЕ</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>

                            <md-list-item ng-click="getParam('Жалпы')" ng-class="{bg__color__active : activeMenu === 'Жалпы'}">

                                <p>Жалпы</p>

                            </md-list-item>



                            <md-list-item ng-click="getParam('Бюджеттердің тапшылығын қаржыландыру (прфицитті пайдалану)')" ng-class="{bg__color__active : activeMenu === 'Бюджеттердің тапшылығын қаржыландыру (прфицитті пайдалану)'}">

                                <p style="line-height: 20px">Бюджеттердің тапшылығын қаржыландыру (прфицитті пайдалану)</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Қарыздардың тізімі')" ng-class="{bg__color__active : activeMenu === 'Қарыздардың тізімі'}">

                                <p style="line-height: 20px">Қарыздардың тізімі</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('Қарыздарды өтеу')" ng-class="{bg__color__active : activeMenu === 'Қарыздарды өтеу'}">

                                <p style="line-height: 20px">Қарыздарды өтеу</p>

                            </md-list-item>



                            <md-list-item ng-click="getParam('Бюджет қаражаттарының қолданылатын қалдықтары')" ng-class="{bg__color__active : activeMenu === 'Бюджет қаражаттарының қолданылатын қалдықтары'}">

                                <p style="line-height: 20px">Бюджет қаражаттарының қолданылатын қалдықтары</p>

                            </md-list-item>









                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-baqh{text-align:right;vertical-align:top}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-031e"></th>
                                <th class="tg-amwm">2014</th>
                                <th class="tg-amwm">2015</th>
                                <th class="tg-amwm">2016</th>
                                <th class="tg-amwm">2017<br></th>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Бюджеттердің тапшылығын қаржыландыру (прфицитті пайдалану)</td>
                                <td class="tg-baqh">19 768 919</td>
                                <td class="tg-baqh">9 831 890</td>
                                <td class="tg-baqh">10 006 242</td>
                                <td class="tg-baqh">39 315 130</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Қарыздардың тізімі</td>
                                <td class="tg-baqh">2 855 448</td>
                                <td class="tg-baqh">1 936 985</td>
                                <td class="tg-baqh">3 240 280</td>
                                <td class="tg-baqh">2 911 690</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Қарыздарды өтеу</td>
                                <td class="tg-baqh">889 894</td>
                                <td class="tg-baqh">954 796</td>
                                <td class="tg-baqh">1 163 956</td>
                                <td class="tg-baqh">2 071 792</td>
                            </tr>


                            <tr>
                                <td class="tg-9hbo">Бюджет қаражаттарының қолданылатын қалдықтары</td>
                                <td class="tg-baqh">17 803 365</td>
                                <td class="tg-baqh">8 849 701</td>
                                <td class="tg-baqh">7 929 918</td>
                                <td class="tg-baqh">38 475 232</td>
                            </tr>
                        </table>


                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>