<div class="row" ng-controller="socVeterCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Ветеринария</h3>

                    </div>

                </div>

            </md-card>



<md-card>
    <div class="row">
        <div class="col-md-6">

            <div id="chart"></div>

        </div>



        <div class="col-md-6">

            <style type="text/css"  >
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                .tg .tg-s6z2{text-align:center}
                .tg .tg-hgcj{font-weight:bold;text-align:center}
            </style>
            <table class="tg" style=" width: 421px">
                <colgroup>
                    <col style="width: 238px">
                    <col style="width: 61px">
                    <col style="width: 61px">
                    <col style="width: 61px">
                </colgroup>
                <tr>
                    <th class="tg-hgcj">Виды выкцинации</th>
                    <th class="tg-hgcj">2015</th>
                    <th class="tg-hgcj">2016</th>
                    <th class="tg-hgcj">2017</th>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство верблюдов</td>
                    <td class="tg-s6z2">1 200</td>
                    <td class="tg-s6z2">0</td>
                    <td class="tg-s6z2">0</td>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство кошек</td>
                    <td class="tg-s6z2">2 000</td>
                    <td class="tg-s6z2">3 908</td>
                    <td class="tg-s6z2">2 662</td>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство КРС</td>
                    <td class="tg-s6z2">65 500</td>
                    <td class="tg-s6z2">56 484</td>
                    <td class="tg-s6z2">20 706</td>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство лошадей</td>
                    <td class="tg-s6z2">3 000</td>
                    <td class="tg-s6z2">3 290</td>
                    <td class="tg-s6z2">0</td>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство МРС</td>
                    <td class="tg-s6z2">60 000</td>
                    <td class="tg-s6z2">56 345</td>
                    <td class="tg-s6z2">19 240</td>
                </tr>
                <tr>
                    <td class="tg-031e">Бешенство собак</td>
                    <td class="tg-s6z2">18 000</td>
                    <td class="tg-s6z2">15 730</td>
                    <td class="tg-s6z2">15 194</td>
                </tr>
                <tr>
                    <td class="tg-031e">Высоко патогенный грипп птиц</td>
                    <td class="tg-s6z2">25 877</td>
                    <td class="tg-s6z2">26 255</td>
                    <td class="tg-s6z2">32 359</td>
                </tr>
                <tr>
                    <td class="tg-031e">Сибирская язва верблюдов</td>
                    <td class="tg-s6z2">11 690</td>
                    <td class="tg-s6z2">20 761</td>
                    <td class="tg-s6z2">20 501</td>
                </tr>
                <tr>
                    <td class="tg-031e">Сибирская язва КРС</td>
                    <td class="tg-s6z2">97 581</td>
                    <td class="tg-s6z2">123 742</td>
                    <td class="tg-s6z2">131 461</td>
                </tr>
                <tr>
                    <td class="tg-031e">Сибирская язва лошадей</td>
                    <td class="tg-s6z2">18 230</td>
                    <td class="tg-s6z2">31 746</td>
                    <td class="tg-s6z2">25 748</td>
                </tr>
                <tr>
                    <td class="tg-031e">Сибирская язва МРС</td>
                    <td class="tg-s6z2">440 881</td>
                    <td class="tg-s6z2">534 068</td>
                    <td class="tg-s6z2">520 268</td>
                </tr>
                <tr>
                    <td class="tg-031e">Сибирская язва свиней</td>
                    <td class="tg-s6z2">290</td>
                    <td class="tg-s6z2">650</td>
                    <td class="tg-s6z2">400</td>
                </tr>
                <tr>
                    <td class="tg-031e">Туберкулинизация КРС</td>
                    <td class="tg-s6z2">21 018</td>
                    <td class="tg-s6z2">24 971</td>
                    <td class="tg-s6z2">22 008</td>
                </tr>
                <tr>
                    <td class="tg-031e">Туберкулинизация верблюдов</td>
                    <td class="tg-s6z2">150 195</td>
                    <td class="tg-s6z2">117 117</td>
                    <td class="tg-s6z2">175 688</td>
                </tr>
                <tr>
                    <td class="tg-031e">Чума верблюдов</td>
                    <td class="tg-s6z2">16 242</td>
                    <td class="tg-s6z2">15 827</td>
                    <td class="tg-s6z2">17 512</td>
                </tr>
                <tr>
                    <td class="tg-031e">Эмфизематозный карбункул КРС</td>
                    <td class="tg-s6z2">59 834</td>
                    <td class="tg-s6z2">80 665</td>
                    <td class="tg-s6z2">84 061</td>
                </tr>
                <tr>
                    <td class="tg-031e">Эхинококкоз плотоядных</td>
                    <td class="tg-s6z2">6 165</td>
                    <td class="tg-s6z2">6 413</td>
                    <td class="tg-s6z2">8 934</td>
                </tr>
            </table>


        </div>
    </div>

</md-card>





        </md-content>
    </div>





</div>