<div class="row" ng-controller="socYouthCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Социально-экономическое развитие. Молодежная политика.</h3>
                    </div>

                </div>

            </md-card>


            <md-card>

                            <div class="row">
                                <div class="col-md-12">
                                     <div id="chart1"></div>
                                </div>

                            </div>


            </md-card>


            <md-card>

                            <div class="row">
                                <div class="col-md-12">
                                       <div id="chart2"></div>
                                </div>

                            </div>


            </md-card>


            <md-card>

                            <div class="row">
                                <div class="col-md-12">
                                          <div id="chart3"></div>
                                </div>

                            </div>


            </md-card>


        </md-content>
    </div>





</div>