<div class="row" ng-controller="socReligionCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Социально-экономическое развитие. Религия.</h3>
                    </div>

                </div>

            </md-card>


            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Общие данные">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество религизных объединений, ед</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество религизных сооружений, ед</h3>
                                    <div id="chart2"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Общее количество религиозных объединений, ед</h3>
                                    <div id="chart3"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество религизных сооружений, ед</h3>
                                    <div id="chart4"></div>
                                </div>

                            </div>

                         </md-content>
                    </md-tab>

                    <md-tab label="Встречи">
                        <md-content class="md-padding">


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество посетивших встречи, ед</h3>
                                    <div id="chart5"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Встречи, ед</h3>
                                    <div id="chart6"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Распространение информации, ед</h3>
                                    <div id="chart7"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Виды информации, ед</h3>
                                    <div id="chart8"></div>
                                </div>

                            </div>


                        </md-content>
                    </md-tab>

                </md-tabs>


            </md-card>


        </md-content>
    </div>





</div>