<div class="row" ng-controller="CubeInSpheteCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">В разрезе направлений, тыс. тенге</h3>

                    </div>

                </div>

            </md-card>

            <md-card>





               <!-- <div class="row">
                    <div class="col-md-12 custom__label__date text-right">
                        <span class="label" ng-click="selectDate('2016')" ng-class="{bg__color__active__date : activeMenu === '2016'}">2016</span>
                        <span class="label" ng-click="selectDate('2017')" ng-class="{bg__color__active__date : activeMenu === '2017'}">2017</span>

                    </div>

                </div>-->

                <div class="row">

                    <div class="col-md-12">



                        <div id="tabledata2">

                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg .tg-0ord{text-align:right}
                                .tg .tg-s6z2{text-align:center}
                                .tg .tg-baqh{text-align:center;vertical-align:top}
                                .tg .tg-lqy6{text-align:right;vertical-align:top}
                                .tg .tg-hgcj{font-weight:bold;text-align:center}
                                .tg .tg-yw4l{vertical-align:top}
                                .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                            </style>
                            <table class="tg table-striped">
                                <tr>
                                    <th class="tg-hgcj">Код группы</th>
                                    <th class="tg-hgcj" style="width: 450px;">Наименование расходов</th>
                                    <th class="tg-hgcj">2014</th>
                                    <th class="tg-hgcj">2015</th>
                                    <th class="tg-hgcj">2016</th>
                                    <th class="tg-hgcj">2017</th>
                                </tr>
                                <tr>
                                    <td class="tg-s6z2">01</td>
                                    <td class="tg-031e">Государственные услуги общего характера</td>
                                    <td class="tg-0ord">4 731 621,40</td>
                                    <td class="tg-lqy6">2 408 588,00</td>
                                    <td class="tg-lqy6">6 750 488,60</td>
                                    <td class="tg-lqy6">9 938 527,30</td>
                                </tr>
                                <tr>
                                    <td class="tg-s6z2">02</td>
                                    <td class="tg-031e">Оборона</td>
                                    <td class="tg-0ord">449 798,00</td>
                                    <td class="tg-lqy6">345 022,00</td>
                                    <td class="tg-lqy6">494 499,00</td>
                                    <td class="tg-lqy6">1 304 861,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">03</td>
                                    <td class="tg-yw4l">Общественный порядок, безопасность, правовая, судебная, уголовно-исполнительная деятельность</td>
                                    <td class="tg-lqy6">4 610 422,00</td>
                                    <td class="tg-lqy6">5 236 839,00</td>
                                    <td class="tg-lqy6">7 157 398,00</td>
                                    <td class="tg-lqy6">11 248 600,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">04</td>
                                    <td class="tg-yw4l">Образование</td>
                                    <td class="tg-lqy6">37 240 823,90</td>
                                    <td class="tg-lqy6">11 013 952,00</td>
                                    <td class="tg-lqy6">50 590 259,80</td>
                                    <td class="tg-lqy6">58 070 279,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">05</td>
                                    <td class="tg-yw4l">Здравоохранение</td>
                                    <td class="tg-lqy6">18 154 700,00</td>
                                    <td class="tg-lqy6">18 481 611,00</td>
                                    <td class="tg-lqy6">21 258 147,20</td>
                                    <td class="tg-lqy6">14 649 083,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">06</td>
                                    <td class="tg-yw4l">Социальная помощь и социальное обеспечение</td>
                                    <td class="tg-lqy6">3 752 598,00</td>
                                    <td class="tg-lqy6">2 024 077,00</td>
                                    <td class="tg-lqy6">6 535 987,00</td>
                                    <td class="tg-lqy6">6 242 112,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">07</td>
                                    <td class="tg-yw4l">Жилищно-коммунальное хозяйство</td>
                                    <td class="tg-lqy6">27 197 689,00</td>
                                    <td class="tg-lqy6">4 913 604,00</td>
                                    <td class="tg-lqy6">20 952 369,00</td>
                                    <td class="tg-lqy6">36 090 276,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">08</td>
                                    <td class="tg-yw4l">Культура, спорт, туризм и информационное пространство</td>
                                    <td class="tg-lqy6">8 887 465,00</td>
                                    <td class="tg-lqy6">8 466 322,00</td>
                                    <td class="tg-lqy6">12 338 726,70</td>
                                    <td class="tg-lqy6">17 979 232,10</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">09</td>
                                    <td class="tg-yw4l">Топливно-энергетический комплекс и недропользование</td>
                                    <td class="tg-lqy6">1 245 550,00</td>
                                    <td class="tg-lqy6">420 486,00</td>
                                    <td class="tg-lqy6">497 901,00</td>
                                    <td class="tg-lqy6">1 739 946,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">10</td>
                                    <td class="tg-yw4l">Сельское, водное, лесное, рыбное хозяйство, особо охраняемые природные территории, охрана окружающей среды и животного мира, земельные отношения</td>
                                    <td class="tg-lqy6">2 746 549,90</td>
                                    <td class="tg-lqy6">2 551 616,70</td>
                                    <td class="tg-lqy6">4 618 270,00</td>
                                    <td class="tg-lqy6">5 512 325,70</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">11</td>
                                    <td class="tg-yw4l">Промышленность, архитектурная, градостроительная и строительная деятельность</td>
                                    <td class="tg-lqy6">2 093 503,30</td>
                                    <td class="tg-lqy6">724 318,00</td>
                                    <td class="tg-lqy6">4 250 397,90</td>
                                    <td class="tg-lqy6">968 746,80</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">12</td>
                                    <td class="tg-yw4l">Транспорт и коммуникации</td>
                                    <td class="tg-lqy6">17 334 241,00</td>
                                    <td class="tg-lqy6">13 613 569,00</td>
                                    <td class="tg-lqy6">16 369 121,00</td>
                                    <td class="tg-lqy6">33 248 652,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">13</td>
                                    <td class="tg-yw4l">Прочие</td>
                                    <td class="tg-lqy6">5 726 183,20</td>
                                    <td class="tg-lqy6">4 992 168,30</td>
                                    <td class="tg-lqy6">3 924 672,80</td>
                                    <td class="tg-lqy6">2 838 367,30</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">14</td>
                                    <td class="tg-yw4l">Обслуживание долга</td>
                                    <td class="tg-lqy6">41 210,00</td>
                                    <td class="tg-lqy6">40 754,00</td>
                                    <td class="tg-lqy6">69 164,00</td>
                                    <td class="tg-lqy6">58 909,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh">15</td>
                                    <td class="tg-yw4l">Трансферты</td>
                                    <td class="tg-lqy6">51 305 493,00</td>
                                    <td class="tg-lqy6">68 655 326,00</td>
                                    <td class="tg-lqy6">74 142 316,00</td>
                                    <td class="tg-lqy6">94 896 523,00</td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-9hbo">Всего расходов по отрослям</td>
                                    <td class="tg-lqy6">185 517 847,70</td>
                                    <td class="tg-lqy6">143 888 253,00</td>
                                    <td class="tg-lqy6">229 949 718,00</td>
                                    <td class="tg-lqy6">294 786 440,20</td>
                                </tr>
                            </table>

                        </div>



                    </div>





                </div>










            </md-card>






        </md-content>
    </div>





</div>