<div class="row" ng-controller="socSportCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Социально-экономическое развитие. Спорт.</h3>

                    </div>

                </div>

            </md-card>








            <div class="row">
                <div class="col-md-12">

                    <md-card>
                        <h4 class="text-center">Количество объектов спорта, ед</h4>
                        <div id="chart1"></div>

                    </md-card>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <h4 class="text-center">Количество ДЮСШ,ед</h4>
                        <div id="chart2"></div>

                    </md-card>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <h4 class="text-center">Посещаемость ДЮСШ по видам спорта, чел</h4>
                        <div id="chart3"></div>

                    </md-card>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <h4 class="text-center">Лица, систематически занимающиеся физической культурой и спортом от общего количества населения,%</h4>
                        <div id="chart4"></div>

                    </md-card>

                </div>

            </div>



        </md-content>
    </div>





</div>