<div class="row" ng-controller="SocInnovCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Инновации</h3>

                    </div>

                </div>

            </md-card>







            <md-card>

                <md-tabs md-dynamic-height md-border-bottom>



                    <md-tab label="Инновационная деятельность республики казахстан за 2016 год">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-6">


                                   <div id="chartnew1" style="height: 400px"></div>
                                </div>


                                <div class="col-md-6">


                                    <div id="chartnew2"></div>
                                </div>




                            </div>













                        </md-content>
                    </md-tab>




                    <md-tab label="Инновационная деятельность атырауской области по годам" ng-click="tabClk(2)">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-6">


                                    <div id="chartnew4"></div>
                                </div>


                                <div class="col-md-6">


                                    <div id="chartnew5" style="height: 400px"></div>
                                </div>



                            </div>













                        </md-content>
                    </md-tab>



                    <md-tab label="ФИНАНСИРОВАНИЕ ИННОВАЦИОННОЙ ДЕЯТЕЛЬНОСТИ" ng-click="tabClk(3)">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-6">


                                    <div id="chartnew6"></div>



                                </div>

                                <div class="col-md-6">

                                    <div id="chartnew7"></div>

                                </div>


                            </div>













                        </md-content>
                    </md-tab>




                </md-tabs>




            </md-card>













        </md-content>
    </div>





</div>