<div class="row" ng-controller="socCultureCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Культура</h3>
                    </div>

                </div>

            </md-card>


            <md-card>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Мероприятия, проведенные в театре и филармонии, ед</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Проведенные мероприятия по клубным учреждениям, ед</h3>
                                    <div id="chart2"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Уровень посещаемости объектов культуры населением, чел</h3>
                                    <div id="chart3"></div>
                                </div>

                            </div>


            </md-card>


        </md-content>
    </div>





</div>