<div class="row" ng-controller="IspolRashodPlanCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Динамика расходов (факт), млн. тенге</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>

                            <md-list-item ng-click="getParam('Всего доходов')" ng-class="{bg__color__active : activeMenu === 'Всего доходов'}">

                                <p>Всего расходов</p>

                            </md-list-item>


                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-yw4l{text-align: right; width: 100px}
                            .tg .tg-e3zv{font-weight:bold; text-align: center}
                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                        </style>
                        <table class="tg table-striped">

                            <tr>
                                <th class="tg-e3zv">Наименование расходов</th>
                                <th class="tg-e3zv">2014</th>
                                <th class="tg-e3zv">2015</th>
                                <th class="tg-e3zv">2016</th>
                                <th class="tg-e3zv">2017</th>
                                <th class="tg-e3zv">2018</th>
                                <th class="tg-e3zv">2019</th>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Государственные услуги общего характера</td>
                                <td class="tg-yw4l">2 196 778</td>
                                <td class="tg-yw4l">2 408 588</td>
                                <td class="tg-yw4l">6 750 489</td>
                                <td class="tg-yw4l">14 034 856</td>
                                <td class="tg-yw4l">14 919 184</td>
                                <td class="tg-yw4l">15 140 197</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Оборона</td>
                                <td class="tg-yw4l">407 037</td>
                                <td class="tg-yw4l">345 022</td>
                                <td class="tg-yw4l">494 499</td>
                                <td class="tg-yw4l">156 467</td>
                                <td class="tg-yw4l">159 777</td>
                                <td class="tg-yw4l">160 250</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Общественный порядок, безопасность, правовая, судебная, уголовно-исполнительная деятельность</td>
                                <td class="tg-yw4l">4 336 195</td>
                                <td class="tg-yw4l">5 236 839</td>
                                <td class="tg-yw4l">7 157 398</td>
                                <td class="tg-yw4l">7 250 424</td>
                                <td class="tg-yw4l">4 579 806</td>
                                <td class="tg-yw4l">4 350 233</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Образование</td>
                                <td class="tg-yw4l">14 796 844</td>
                                <td class="tg-yw4l">11 013 952</td>
                                <td class="tg-yw4l">50 590 260</td>
                                <td class="tg-yw4l">39 624 259</td>
                                <td class="tg-yw4l">36 632 884</td>
                                <td class="tg-yw4l">36 594 832</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Здравоохранение</td>
                                <td class="tg-yw4l">18 154 700</td>
                                <td class="tg-yw4l">18 481 611</td>
                                <td class="tg-yw4l">21 258 147</td>
                                <td class="tg-yw4l">1 773 997</td>
                                <td class="tg-yw4l">454 226</td>
                                <td class="tg-yw4l">471 394</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Социальная помощь и социальное обеспечение</td>
                                <td class="tg-yw4l">1 868 806</td>
                                <td class="tg-yw4l">2 024 077</td>
                                <td class="tg-yw4l">6 535 987</td>
                                <td class="tg-yw4l">4 117 684</td>
                                <td class="tg-yw4l">4 161 698</td>
                                <td class="tg-yw4l">4 187 652</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Жилищно-коммунальное хозяйство</td>
                                <td class="tg-yw4l">19 389 549</td>
                                <td class="tg-yw4l">4 913 604</td>
                                <td class="tg-yw4l">20 952 369</td>
                                <td class="tg-yw4l">10 378 021</td>
                                <td class="tg-yw4l">10 047 636</td>
                                <td class="tg-yw4l">10 178 190</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Культура, спорт, туризм и информационное пространство</td>
                                <td class="tg-yw4l">7 098 030</td>
                                <td class="tg-yw4l">8 466 322</td>
                                <td class="tg-yw4l">12 338 727</td>
                                <td class="tg-yw4l">9 874 260</td>
                                <td class="tg-yw4l">9 830 389</td>
                                <td class="tg-yw4l">10 020 902</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Топливно-энергетический комплекс и недропользование</td>
                                <td class="tg-yw4l">1 149 008</td>
                                <td class="tg-yw4l">420 486</td>
                                <td class="tg-yw4l">497 901</td>
                                <td class="tg-yw4l">923 881</td>
                                <td class="tg-yw4l">698412</td>
                                <td class="tg-yw4l">0</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Сельское, водное, лесное, рыбное хозяйство, особо охраняемые природные территории, охрана окружающей среды и животного мира, земельные отношения</td>
                                <td class="tg-yw4l">2 177 867</td>
                                <td class="tg-yw4l">2 551 617</td>
                                <td class="tg-yw4l">4 618 270</td>
                                <td class="tg-yw4l">2 379 395</td>
                                <td class="tg-yw4l">2 332 287</td>
                                <td class="tg-yw4l">2 253 628</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Промышленность, архитектурная, градостроительная и строительная деятельность</td>
                                <td class="tg-yw4l">749 080</td>
                                <td class="tg-yw4l">724 318</td>
                                <td class="tg-yw4l">4 250 398</td>
                                <td class="tg-yw4l">346 922</td>
                                <td class="tg-yw4l">352626</td>
                                <td class="tg-yw4l">353 351</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Транспорт и коммуникации</td>
                                <td class="tg-yw4l">16 391 690</td>
                                <td class="tg-yw4l">13 613 569</td>
                                <td class="tg-yw4l">16 369 121</td>
                                <td class="tg-yw4l">3 034 058</td>
                                <td class="tg-yw4l">9 167 912</td>
                                <td class="tg-yw4l">10 175 194</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Прочие</td>
                                <td class="tg-yw4l">5 599 522</td>
                                <td class="tg-yw4l">4 992 168</td>
                                <td class="tg-yw4l">3 924 673</td>
                                <td class="tg-yw4l">6 591 373</td>
                                <td class="tg-yw4l">6 594 749</td>
                                <td class="tg-yw4l">6 595 171</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Обслуживание долга</td>
                                <td class="tg-yw4l">41 210</td>
                                <td class="tg-yw4l">40 754</td>
                                <td class="tg-yw4l">69 164</td>
                                <td class="tg-yw4l">61 661</td>
                                <td class="tg-yw4l">40 197</td>
                                <td class="tg-yw4l">17 234</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Трансферты</td>
                                <td class="tg-yw4l">59 900 409</td>
                                <td class="tg-yw4l">68 655 326</td>
                                <td class="tg-yw4l">74 142 316</td>
                                <td class="tg-yw4l">93 617 234</td>
                                <td class="tg-yw4l">98 623 848</td>
                                <td class="tg-yw4l">105 721 350</td>
                            </tr>
                        </table>

                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>