<div class="row" ng-controller="SaldoCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Сальдо по операциям с финансовыми активами, ТЫС. ТЕНГЕ</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>

                            <md-list-item ng-click="getParam('САЛЬДО ПО ОПЕРАЦИЯМ С ФИНАНСОВЫМИ АКТИВАМИ')" ng-class="{bg__color__active : activeMenu === 'САЛЬДО ПО ОПЕРАЦИЯМ С ФИНАНСОВЫМИ АКТИВАМИ'}">

                                <p style="line-height: 15px">Сальдо по операциям с финансовыми активами</p>

                            </md-list-item>



                            <md-list-item ng-click="getParam('ПРИОБРЕТЕНИЕ ФИНАНСОВЫХ АКТИВОВ')" ng-class="{bg__color__active : activeMenu === 'ПРИОБРЕТЕНИЕ ФИНАНСОВЫХ АКТИВОВ'}">

                                <p style="line-height: 15px">Приобретение финансовых активов</p>

                            </md-list-item>


                            <md-list-item ng-click="getParam('ПОСТУПЛЕНИЯ ОТ ПРОДАЖИ ФИНАНСОВЫХ АКТИВОВ ГОСУДАРСТВА')" ng-class="{bg__color__active : activeMenu === 'ПОСТУПЛЕНИЯ ОТ ПРОДАЖИ ФИНАНСОВЫХ АКТИВОВ ГОСУДАРСТВА'}">

                                <p style="line-height: 15px">Поступления от продажи финансовых активов государства</p>

                            </md-list-item>










                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-baqh{text-align:right;vertical-align:top}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-031e">Наименование, в тыс. тенге</th>
                                <th class="tg-amwm">2014</th>
                                <th class="tg-amwm">2015</th>
                                <th class="tg-amwm">2016</th>
                                <th class="tg-amwm">2017<br></th>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Сальдо по операциям с финансовыми активами</td>
                                <td class="tg-baqh">6 520 013</td>
                                <td class="tg-baqh">4 336 596</td>
                                <td class="tg-baqh">1 358 291</td>
                                <td class="tg-baqh">625 630</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Приобретение финансовых активов</td>
                                <td class="tg-baqh">6 538 981</td>
                                <td class="tg-baqh">4 391 701</td>
                                <td class="tg-baqh">1 373 291</td>
                                <td class="tg-baqh">631 706</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Поступления от продажи финансовых активов государства</td>
                                <td class="tg-baqh">18 968</td>
                                <td class="tg-baqh">55 105</td>
                                <td class="tg-baqh">15 000</td>
                                <td class="tg-baqh">6 076</td>
                            </tr>
                        </table>


                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>