<div class="row" ng-controller="socZHkhCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">ЖКХ и энергетика</h3>
                    </div>

                </div>

            </md-card>


            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="ЖКХ. Производство энергии">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Объем производства тепловой энергии, электроэнергии и потребление газа</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество МЖД, ед</h3>
                                    <div id="chart2"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество НП, ед.</h3>
                                    <div id="chart3"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Количество форм управления объектами, ед.</h3>
                                    <div id="chart4"></div>
                                </div>

                            </div>


                        </md-content>
                    </md-tab>

                    <md-tab label="Отопительный сезон">
                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">Количество введенных объектов, ед</h3>
                                        <div id="chart5"></div>

                                    </div>



                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">Объекты, подготовленные к зимнему отопительному сезону, ед</h3>
                                        <div id="chart6"></div>

                                    </div>



                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">Общая протяженность сетей, км</h3>
                                        <div id="chart7"></div>

                                    </div>



                                </div>
                            </md-card>


                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">Потребность в топливе на отопительный период, тыс.тонн</h3>
                                        <div id="chart8"></div>

                                    </div>



                                </div>
                            </md-card>



                        </md-content>
                    </md-tab>


                    <md-tab label="ЖКХ. Для города и села">
                        <md-content class="md-padding">

                            <md-card>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h3 class="title text-center" style="text-transform: uppercase">Доля обеспеченности доступа в городах к центральному водоотведению, водоснабжению и газоснабжению,%</h3>
                                        <div id="chart9"></div>

                                    </div>

                                    <div  class="col-md-12" >
                                        <h3 class="title text-center" style="text-transform: uppercase">Доля обеспенности доступа в сельских НП к центральному водоотведению, водоснабжению и газоснабжению,%</h3>
                                        <div id="chart10" ></div>
                                    </div>

                                </div>
                            </md-card>



                        </md-content>
                    </md-tab>
            </md-card>


        </md-content>
    </div>





</div>