<div class="row" ng-controller="HomePage2Ctrl">
    <div class="col-md-12">
        <md-content id="main2" layout="column" flex class="custom__md-content__categ">


           <div class="row">
               <div class="col-md-4">
                   <md-card>


                       <p style="margin: 0 0 0 0">
                       <img src="../../assets/img/mainpage/4468-min.jpg" alt="" width="150" height="150" style="height: 150px; width: 150px;  float: left;
  margin: 0 0 0 0;">

                           <span class="custom__title__card2">БЮДЖЕТ ОБЛАСТИ</span>



                       </p>

                   </md-card>
               </div>


               <div class="col-md-3" style="margin-left: -20px">
                   <md-card>


                       <img src="../../assets/img/mainpage/photo_220298-min.jpg" alt="" width="150" height="150"
                            style="height: 150px; z-index: 500; position: absolute">

                       <div class="block__for__mask"></div>

                       <span class="custom__title__card3 text-center">СОЦИАЛЬНО-ЭКОНОМИЧЕСКОЕ РАЗВИТИЕ</span>


                   </md-card>
               </div>


               <div class="col-md-5" style="margin-left: 20px">
                   <md-card>


                       <p style="margin: 0 0 0 0">
                           <img src="../../assets/img/mainpage/3515-min.jpg" alt="" width="150" height="150" style="height: 150px; width: 150px;  float: left;
  margin: 0 0 0 0;">

                           <span class="custom__title__card4">МОНИТОРИНГ ГОСУДАРСТВЕННЫХ ПРОГРАММ</span>



                       </p>

                   </md-card>
               </div>

           </div>

            <div class="row">
                <div class="col-md-3">
                    <md-card>


                        <img src="../../assets/img/mainpage/img_top.jpg" alt="" width="150" height="150"
                             style="height: 150px; z-index: 500; position: absolute">

                        <div class="block__for__mask2"></div>

                        <span class="custom__title__card3 text-center">БЮДЖЕТНОЕ ПЛАНИРОВАНИЕ</span>


                    </md-card>

                </div>


                <div class="col-md-5" style="margin-left: 45px">

                    <md-card>


                        <p style="margin: 0 0 0 0">
                            <img src="../../assets/img/mainpage/1343722397_strategiya-min.jpg" alt="" width="150" height="150" style="height: 150px; width: 150px;  float: left;
  margin: 0 0 0 0;">

                            <span class="custom__title__card2">СТРАТЕГИЧЕСКОЕ ПЛАНИРОВАНИЕ</span>



                        </p>

                    </md-card>

                </div>


                <div class="col-md-3">
                    <md-card>


                        <img src="../../assets/img/mainpage/609-min.jpg" alt="" width="150" height="150"
                             style="height: 150px; z-index: 500; position: absolute">

                        <div class="block__for__mask3"></div>

                        <span class="custom__title__card3 text-center">ЦИФРОВЫЕ СОЦИАЛЬНЫЕ ОБЪЕКТЫ</span>


                    </md-card>

                </div>



            </div>








        </md-content>
    </div>





</div>