<div class="row" ng-controller="HomePageCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">


            <div class="row">
                <div class="col-md-3">

                    <md-card id="card1" class="masonry__custom1" style="background-color: #0098AB; color: white; text-transform: uppercase">


                        <input type="color" style="margin-bottom: -20px" ng-model="colorbodyForCard" ng-change="getColorCard('#card1')">


                        <img src="assets/img/mainIcon/monitor.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Социально-экономическое развитие</span>
                                <span class="text-center" style="margin-top: 20px">Мониторинг показателей социально-экономического развития области</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>


                <div class="col-md-3">

                    <md-card id="card2" class="masonry__custom2" style="background-color: #603BBC; color: white; text-transform: uppercase">

                        <input type="color" style="margin-bottom: -15px" ng-model="colorbodyForCard" ng-change="getColorCard('#card2')">

                        <img src="assets/img/mainIcon/budget.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Бюджетное планирование</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>


                    <md-card id="card3" class="masonry__custom2" style="background-color: #2877EE; color: white; text-transform: uppercase">

                        <input type="color" style="margin-bottom: -15px"  ng-model="colorbodyForCard" ng-change="getColorCard('#card3')">


                        <img src="assets/img/mainIcon/university-with-a-flag.svg" alt="Washed Out">
                        <md-card-title style="margin-top: -10px">
                            <md-card-title-text>
                                <span class="md-headline text-center">Цифровые социальные объекты</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>
                </div>


                <div class="col-md-3">
                    <md-card id="card4" class="masonry__custom1" style="background-color: #008F01; color: white; text-transform: uppercase">

                        <input type="color" style="margin-bottom: -20px" ng-model="colorbodyForCard" ng-change="getColorCard('#card4')">


                        <img src="assets/img/mainIcon/brainstorm.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Стратегическое планирование</span>
                                <span class="text-center" style="margin-top: 20px">Портфельный анализ деятельности государственного управления</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>


                <div class="col-md-3">
                    <md-card id="card5" class="masonry__custom1" style="background-color: #DA542E; color: white;">
                        <input type="color" style="margin-bottom: -20px" ng-model="colorbodyForCard" ng-change="getColorCard('#card5')">


                        <img src="assets/img/mainIcon/file.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center" style="text-transform: uppercase; font-size: 21px">Мониторинг государственных программ</span>
                                <span class="text-center" style="margin-top: 20px; text-transform: uppercase">Мониторинг достижения показателей и исполнения мероприятий государственных программ</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-card id="card6" class="masonry__custom3" style="background-color: #8E2800; color: white; text-transform: uppercase">
                        <!--<img src="assets/img/mainIcon/kazakhstani-tenge.svg" alt="Washed Out">-->

                        <input type="color" style="margin-bottom: -15px" ng-model="colorbodyForCard" ng-change="getColorCard('#card6')">



                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Бюджет области</span>

                            </md-card-title-text>
                        </md-card-title>
                    </md-card>

                </div>

            </div>



            <div class="row" >
                <div class="col-md-12">
                    <label for="colorheader" style="color: white">Выбрать цвет для Фона</label>
                    <input id="colorheader" type="color" style="margin-top: 10px" ng-model="colorbody" ng-change="getColorBody()">

                </div>

            </div>












        </md-content>
    </div>





</div>