<div class="row" ng-controller="HomePageCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">


            <div class="row">
                <div class="col-md-3">

                    <md-card class="masonry__custom1" style="background-color: #0098AB; color: white; text-transform: uppercase">
                        <img src="assets/img/mainIcon/monitor.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Социально-экономическое развитие</span>
                                <span class="text-center" style="margin-top: 20px">Мониторинг показателей социально-экономического развития области</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>


                <div class="col-md-3">

                    <md-card class="masonry__custom2" ng-click="test()" style="background-color: #603BBC; color: white; text-transform: uppercase">
                        <img src="assets/img/mainIcon/budget.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Бюджетное планирование</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>


                    <md-card class="masonry__custom2" style="background-color: #2877EE; color: white; text-transform: uppercase">
                        <img src="assets/img/mainIcon/university-with-a-flag.svg" alt="Washed Out">
                        <md-card-title style="margin-top: -10px">
                            <md-card-title-text>
                                <span class="md-headline text-center">Цифровые социальные объекты</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>
                </div>


                <div class="col-md-3">
                    <md-card class="masonry__custom1" style="background-color: #008F01; color: white; text-transform: uppercase">
                        <img src="assets/img/mainIcon/brainstorm.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Стратегическое планирование</span>
                                <span class="text-center" style="margin-top: 20px">Портфельный анализ деятельности государственного управления</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>


                <div class="col-md-3">
                    <md-card class="masonry__custom1" style="background-color: #DA542E; color: white;">
                        <img src="assets/img/mainIcon/file.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center" style="text-transform: uppercase; font-size: 21px">Мониторинг государственных программ</span>
                                <span class="text-center" style="margin-top: 20px; text-transform: uppercase">Мониторинг достижения показателей и исполнения мероприятий государственных программ</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-card class="masonry__custom3" style="background-color: #8E2800; color: white; text-transform: uppercase" ng-click="goTo()">
                        <!--<img src="assets/img/mainIcon/kazakhstani-tenge.svg" alt="Washed Out">-->
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline text-center">Бюджет области</span>

                            </md-card-title-text>
                        </md-card-title>
                    </md-card>

                </div>

            </div>












        </md-content>
    </div>





</div>