<div class="row" ng-controller="CleanBudgetCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Чистое бюджетное кредитование, в тыс. тенге</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>


                            <md-list-item ng-click="getParam('ЧИСТОЕ БЮДЖЕТНОЕ КРЕДИТОВАНИЕ')" ng-class="{bg__color__active : activeMenu === 'ЧИСТОЕ БЮДЖЕТНОЕ КРЕДИТОВАНИЕ'}">

                                <p style="line-height: 15px">Чистое бюджетное кредитование</p>

                            </md-list-item>

                            <md-list-item ng-click="getParam('БЮДЖЕТНЫЕ КРЕДИТЫ')" ng-class="{bg__color__active : activeMenu === 'БЮДЖЕТНЫЕ КРЕДИТЫ'}">

                                <p>Бюджетные кредиты</p>

                            </md-list-item>



                            <md-list-item ng-click="getParam('ПОГАШЕНИЕ БЮДЖЕТНЫХ КРЕДИТОВ')" ng-class="{bg__color__active : activeMenu === 'ПОГАШЕНИЕ БЮДЖЕТНЫХ КРЕДИТОВ'}">

                                <p style="line-height: 15px">Погашение бюджетных кредитов</p>

                            </md-list-item>








                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-baqh{text-align:right;vertical-align:top}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-amwm">Наименование, в тыс. тенге</th>
                                <th class="tg-amwm">2014</th>
                                <th class="tg-amwm">2015</th>
                                <th class="tg-amwm">2016</th>
                                <th class="tg-amwm">2017<br></th>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Чистое бюджетное кредитование</td>
                                <td class="tg-baqh">1 676 386</td>
                                <td class="tg-baqh">761 234</td>
                                <td class="tg-baqh">1 141 795</td>
                                <td class="tg-baqh">-271 231</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Бюджетные кредиты</td>
                                <td class="tg-baqh">1 885 051</td>
                                <td class="tg-baqh">994 862</td>
                                <td class="tg-baqh">1 651 896</td>
                                <td class="tg-baqh">1 632 005</td>
                            </tr>
                            <tr>
                                <td class="tg-9hbo">Погашение бюджетных кредитов</td>
                                <td class="tg-baqh">208 665</td>
                                <td class="tg-baqh">233 628</td>
                                <td class="tg-baqh">510 101</td>
                                <td class="tg-baqh">1 903 236</td>
                            </tr>
                        </table>


                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>