<div class="row" ng-controller="socTradeCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Социально-экономическое развитие. Религия.</h3>
                    </div>

                </div>

            </md-card>


            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Товарооборот внешней торговли">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Товарооброт внешней торговли, млн.дол США</h3>
                                    <div id="chart1"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Импорт и экспорт товарооборота внешней торговли, млн.дол.США</h3>
                                    <div id="chart2"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">ИФО товарооборота внешней торговли</h3>
                                    <div id="chart3"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">ИФО экспорта и импорта товарооборота внешней торговли</h3>
                                    <div id="chart4"></div>
                                </div>

                            </div>

                         </md-content>
                    </md-tab>

                    <md-tab label="Товарооборот по странам">
                        <md-content class="md-padding">


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Внутренний товарооборот розничной торговли, млн.дол.США</h3>
                                    <div id="chart5"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Экспорт и импорт по странами ЕЭС, млн.дол США</h3>
                                    <div id="chart6"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">Товарооборот со странами ЕЭС, млн.дол США</h3>
                                    <div id="chart7"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title text-center" style="text-transform: uppercase">ИФО импорта и экспорта со странами ЕЭС, млн.дол США</h3>
                                    <div id="chart8"></div>
                                </div>

                            </div>


                        </md-content>
                    </md-tab>

                </md-tabs>


            </md-card>


        </md-content>
    </div>





</div>