<div class="row" ng-controller="CubeInAdminCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">В разрезе администраторов, ТЫС. ТЕНГЕ</h3>

                    </div>

                </div>

            </md-card>

            <md-card>





                <!--<div class="row">
                    <div class="col-md-12 custom__label__date text-right">
                        <span class="label" ng-click="selectDate('2016')" ng-class="{bg__color__active__date : activeMenu === '2016'}">2016</span>
                        <span class="label" ng-click="selectDate('2017')" ng-class="{bg__color__active__date : activeMenu === '2017'}">2017</span>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">



                        <div id="tabledata2">

                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%; margin-top: 20px}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg .tg-0ord{text-align:right}
                                .tg .tg-lqy6{text-align:left; width: 600px;}
                                .tg .tg-lqy8{text-align:center; width: 300px}
                                .tg .tg-hgcj{font-weight:bold;text-align:center}
                                .tg .tg-yw4l{vertical-align:top}
                            </style>
                            <table class="tg table-striped">


                                <tr ng-repeat="x in dataTable">
                                    <td class="tg-lqy6">{{x.name}}</td>
                                    <td class="tg-lqy8">


                                        <md-progress-linear id="custom__progress__liner" md-mode="determinate" value="{{x.prg}}"></md-progress-linear>


                                    </td>

                                    <td class="tg-0ord">{{x.value | ruFormat2}}</td>
                                </tr>

                            </table>


                        </div>



                    </div>





                </div>

-->



                <md-tabs md-dynamic-height md-border-bottom>



                    <md-tab label="Областные Расходы">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-12">



                                    <style type="text/css">
                                        table.tableizer-table {
                                            width: 100%;
                                            font-size: 12px;
                                            border: 1px solid #CCC;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                        .tableizer-table td {
                                            padding: 4px;
                                            margin: 3px;
                                            border: 1px solid #CCC;

                                        }
                                        .tableizer-table th {
                                            border: 1px solid #CCC;
                                            color: #000;
                                            font-weight: bold;
                                            text-align: center;
                                        }
                                        .text__right > tr > td:nth-child(2) {

                                            text-align: left;


                                        }

                                        .text__right > tr > td:nth-child(3) {

                                            text-align: right;


                                        }
                                        .text__right > tr > td:nth-child(4) {

                                            text-align: right;


                                        }
                                        .text__right > tr > td:nth-child(5) {

                                            text-align: right;


                                        }
                                    </style>
                                    <table class="tableizer-table table-striped">
                                        <thead>


                                        <tr class="tableizer-firstrow">


                                            <th>Код АБП </th>

                                            <th>Администраторы Бюджетных Программ</th>

                                            <th>2017</th>
                                            <th>2016</th>
                                            <th>2015</th>
                                        </tr>
                                        </thead>



                                        <tbody class="text__right">






                                    <tr>
                                        <td>112</td>
                                        <td>Аппарат маслихата района (города областного значения)</td>
                                        <td>226 470</td><td>167 660</td><td>125 115,00</td></tr>
                                    <tr><td>122</td><td>Аппарат акима района (города областного значения)</td><td>1 174 679</td><td>1 061 022</td><td>850 952,50</td></tr>
                                    <tr><td>123</td><td>Аппарат акима района в городе, города районного значения, поселка, села, сельского округа</td><td>8 789 935</td><td>7 457 195</td><td>5 989 374,40</td></tr>
                                    <tr><td>451</td><td>Отдел занятости и социальных программ района (города областного значения)</td><td>0</td><td>0</td><td>0,00</td></tr>
                                    <tr><td>452</td><td>Отдел финансов района (города областного значения)</td><td>832 874</td><td>169 012</td><td>75 703,90</td></tr>
                                    <tr><td>453</td><td>Отдел экономики и бюджетного планирования района (города областного значения)</td><td>31 164</td><td>33 209</td><td>19 987,00</td></tr>
                                    <tr><td>454</td><td>Отдел предпринимательства и сельского хозяйства района (города областного значения)</td><td>23 375</td><td>0</td><td>0,00</td></tr>
                                    <tr><td>455</td><td>Отдел культуры и развития языков района (города областного значения)</td><td>1 980 381</td><td>1 308 249</td><td>979 061,00</td></tr>
                                    <tr><td>456</td><td>Отдел внутренней политики района (города областного значения)</td><td>313 679</td><td>210 487</td><td>168 861,00</td></tr>
                                    <tr><td>458</td><td>Отдел жилищно-коммунального хозяйства, пассажирского транспорта и автомобильных дорог района (города областного значения)</td><td>39 381 765</td><td>16 853 124</td><td>13 189 937,10</td></tr>
                                    <tr><td>459</td><td>Отдел экономики и финансов района (города областного значения)</td><td>1 262 993</td><td>982 860</td><td>445 466,30</td></tr>
                                    <tr><td>462</td><td>Отдел сельского хозяйства района (города областного значения)</td><td>106 876</td><td>108 911</td><td>71 391,00</td></tr>
                                    <tr><td>463</td><td>Отдел земельных отношений района (города областного значения)</td><td>618 182</td><td>122 535</td><td>89 211,00</td></tr>
                                    <tr><td>464</td><td>Отдел образования района (города областного значения)</td><td>41 630 359</td><td>37 330 752</td><td>24 436 789,10</td></tr>
                                    <tr><td>465</td><td>Отдел физической культуры и спорта района (города областного значения)</td><td>1 264 040</td><td>718 556</td><td>129 655,00</td></tr>
                                    <tr><td>467</td><td>Отдел строительства района (города областного значения)</td><td>21 681 129</td><td>15 033 114</td><td>8 562 989,40</td></tr>
                                    <tr><td>468</td><td>Отдел архитектуры и градостроительства района (города областного значения)</td><td>109 142</td><td>89 242</td><td>53 030,00</td></tr>
                                    <tr><td>469</td><td>Отдел предпринимательства района (города областного значения)</td><td>22 080</td><td>39 826</td><td>95 420,00</td></tr>
                                    <tr><td>471</td><td>Отдел образования, физической культуры и спорта района (города областного значения)</td><td>0</td><td>0</td><td>1 693 962,00</td></tr>
                                    <tr><td>472</td><td>Отдел строительства, архитектуры и градостроительства района (города областного значения)</td><td>5 454 059</td><td>3 969 242</td><td>3 144 553,00</td></tr>
                                    <tr><td>473</td><td>Отдел ветеринарии района (города областного значения)</td><td>657 001</td><td>498 350</td><td>356 597,00</td></tr>
                                    <tr><td>474</td><td>Отдел сельского хозяйства и ветеринарии района (города областного значения)</td><td>0</td><td>24 731</td><td>15 906,00</td></tr>
                                    <tr><td>477</td><td>Отдел сельского хозяйства и земельных отношений района (города областного значения)</td><td>0</td><td>0</td><td>18 253,30</td></tr>
                                    <tr><td>478</td><td>Отдел внутренней политики, культуры и развития языков района (города областного значения)</td><td>0</td><td>117 422</td><td>176 513,00</td></tr>
                                    <tr><td>479</td><td>Отдел жилищной инспекции района (города областного значения)</td><td>46 113</td><td>38 196</td><td>16 233,00</td></tr>
                                    <tr><td>482</td><td>Отдел предпринимательства и туризма района (города областного значения)</td><td>71 929</td><td>161 220</td><td>0,00</td></tr>
                                    <tr><td>800</td><td>Отдел ветеринарии и ветеринарного контроля района (города областного значения)</td><td>210 497</td><td>138 496</td><td>109 555,00</td></tr>
                                    <tr><td>801</td><td>Отдел занятости, социальных программ и регистрации актов гражданского состояния района (города областного значения)</td><td>4 062 771</td><td>4 650 212</td><td>2 256 676,00</td></tr>


                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><strong>Всего Расходов по Районным Администраторам</strong></td>
                                        <td>129 951 493</td>
                                        <td>91 283 623</td>
                                        <td>63 071 192,00</td>


                                    </tr>

                                        </tbody></table>



                                </div>





                            </div>













                        </md-content>
                    </md-tab>




                    <md-tab label="Районные Расходы">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-12">


                                    <style type="text/css">
                                        table.tableizer-table {
                                            width: 100%;
                                            font-size: 12px;
                                            border: 1px solid #CCC;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                        .tableizer-table td {
                                            padding: 4px;
                                            margin: 3px;
                                            border: 1px solid #CCC;
                                        }
                                        .tableizer-table th {
                                            border: 1px solid #CCC;
                                            text-align: center;
                                            color: #000;
                                            font-weight: bold;
                                        }

                                        .text__right > tr > td:nth-child(2) {

                                            text-align: left;


                                        }

                                        .text__right > tr > td:nth-child(3) {

                                            text-align: right;


                                        }
                                        .text__right > tr > td:nth-child(4) {

                                            text-align: right;


                                        }
                                        .text__right > tr > td:nth-child(5) {

                                            text-align: right;


                                        }

                                    </style>
                                    <table class="tableizer-table table-striped">
                                        <thead><tr class="tableizer-firstrow"><th>Код АБП</th><th style="width: 700px;">Администраторы Бюджетных Программ</th><th>2017</th><th>2016</th><th>2015</th></tr></thead><tbody class="text__right">



                                    <tr><td>110</td><td>Аппарат маслихата области</td><td>43 348</td><td>55 010</td><td>48831</td></tr>
                                    <tr><td>120</td><td>Аппарат акима области</td><td>2 223 442</td><td>1 593 553</td><td>1586483,9</td></tr>
                                    <tr><td>251</td><td>Управление земельных отношений области</td><td>39 161</td><td>30 542</td><td>155245</td></tr>
                                    <tr><td>252</td><td>Исполнительный орган внутренних дел, финансируемый из областного бюджета</td><td>9 762 852</td><td>6 894 027</td><td>5228718</td></tr>
                                    <tr><td>253</td><td>Управление здравоохранения области</td><td>14 527 777</td><td>21 198 297</td><td>17248550</td></tr>
                                    <tr><td>254</td><td>Управление природных ресурсов и регулирования природопользования области</td><td>337 077</td><td>356 609</td><td>412899,7</td></tr>
                                    <tr><td>255</td><td>Управление сельского хозяйства области</td><td>0</td><td>3 522 949</td><td>5249378</td></tr>
                                    <tr><td>256</td><td>Управление координации занятости и социальных  программ области</td><td>1 698 347</td><td>1 503 026</td><td>1238500</td></tr>
                                    <tr><td>257</td><td>Управление финансов области</td><td>96 133 052</td><td>75 033 574</td><td>62157751,4</td></tr>
                                    <tr><td>258</td><td>Управление экономики и бюджетного планирования области</td><td>152 944</td><td>145 353</td><td>94109</td></tr>
                                    <tr><td>261</td><td>Управление образования области</td><td>8 189 451</td><td>7 266 215</td><td>5400805</td></tr>
                                    <tr><td>263</td><td>Управление внутренней политики области</td><td>1 038 164</td><td>1 087 222</td><td>616735</td></tr>
                                    <tr><td>264</td><td>Управление по развитию языков области</td><td>60 379</td><td>46 744</td><td>55353</td></tr>
                                    <tr><td>266</td><td>Управление предпринимательства и индустриально-инновационного развития области</td><td>2 739 848</td><td>3 170 345</td><td>1890601</td></tr>
                                    <tr><td>268</td><td>Управление пассажирского транспорта и автомобильных дорог области</td><td>4 921 504</td><td>4 279 081</td><td>6832117</td></tr>
                                    <tr><td>269</td><td>Управление по делам религий области</td><td>228 041</td><td>196 744</td><td>195369</td></tr>
                                    <tr><td>271</td><td>Управление строительства области</td><td>10 965 241</td><td>5 569 398</td><td>5815896</td></tr>
                                    <tr><td>272</td><td>Управление архитектуры и градостроительства области</td><td>126 827</td><td>258 070</td><td>422349</td></tr>
                                    <tr><td>273</td><td>Управление культуры, архивов и документации области</td><td>4 398 381</td><td>3 092 651</td><td>2181142</td></tr>
                                    <tr><td>279</td><td>Управление энергетики и жилищно-коммунального хозяйства области</td><td>1 278 637</td><td>693 772</td><td>1183088</td></tr>
                                    <tr><td>282</td><td>Ревизионная комиссия области</td><td>167 144</td><td>156 734</td><td>123038</td></tr>
                                    <tr><td>283</td><td>Управление по вопросам молодежной политики области</td><td>310 202</td><td>1 152 018</td><td>712993</td></tr>
                                    <tr><td>285</td><td>Управление физической культуры и спорта области</td><td>5 369 630</td><td>5 210 660</td><td>4673970</td></tr>
                                    <tr><td>287</td><td>Территориальный орган, уполномоченных органов в области чрезвычайных ситуаций природного и техногенного характера, Гражданской обороны, финансируемый из областного бюджета</td><td>737 235</td><td>117 450</td><td>215087</td></tr>
                                    <tr><td>298</td><td>Управление государственной инспекции труда области</td><td>76 102</td><td>59 451</td><td>46445</td></tr>
                                    <tr><td>718</td><td>Управление государственных закупок области</td><td>49 986</td><td>43 501</td><td>36623</td></tr>
                                    <tr><td>719</td><td>Управление ветеринарии области</td><td>17 475</td><td>39 602</td><td>37246</td></tr>
                                    <tr><td>724</td><td>Управление государственного архитектурно-строительного контроля области</td><td>55 892</td><td>40 306</td><td>28970</td></tr>
                                    <tr><td>725</td><td>Управление по контролю за использованием и охраной земель области</td><td>42 364</td><td>42 334</td><td>28525</td></tr>
                                    <tr><td>736</td><td>Управление по мобилизационной подготовке и гражданской защите области</td><td>110 214</td><td>0</td><td>0</td></tr>
                                    <tr><td>737</td><td>Управление сельского хозяйства и ветеринарии области</td><td>3 358 278</td><td>0</td><td>0</td></tr>


                                    <tr><td>&nbsp;</td><td><strong>Всего Расходов по Областным Администраторам</strong></td><td>169 158 995</td><td>142 855 238</td><td>123916818</td></tr>

                                    </tbody></table>
                                </div>






                            </div>













                        </md-content>
                    </md-tab>





                </md-tabs>








            </md-card>






        </md-content>
    </div>





</div>