<div class="row" ng-controller="StructuRashodCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">


            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Структура расходов бюджета области, тыс. тенге</h3>

                    </div>

                </div>

            </md-card>

        <md-card>







            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Расходы с трансфертами">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12 custom__label__date text-right">
                                        <span class="label" ng-click="selectDate('2014')" ng-class="{bg__color__active__date : activeMenu === '2014'}">2014</span>
                                        <span class="label" ng-click="selectDate('2015')" ng-class="{bg__color__active__date : activeMenu === '2015'}">2015</span>
                                        <span class="label" ng-click="selectDate('2016')" ng-class="{bg__color__active__date : activeMenu === '2016'}">2016</span>
                                        <span class="label" ng-click="selectDate('2017')" ng-class="{bg__color__active__date : activeMenu === '2017'}">2017</span>
                                        <span class="label" ng-click="selectDate('2018')" ng-class="{bg__color__active__date : activeMenu === '2018'}">2018</span>
                                        <span class="label" ng-click="selectDate('2019')" ng-class="{bg__color__active__date : activeMenu === '2019'}">2019</span>

                                    </div>

                                </div>


                                <div id="chartstructurerashod" style="position: relative"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Структура расходов без трансфертов">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Two</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>

                    </md-tabs>





                </div>


            </div>




        </md-card>





            <md-card>

                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg .tg-0ord{text-align:right}
                    .tg .tg-lqy6{text-align:right;vertical-align:top}
                    .tg .tg-hgcj{font-weight:bold;text-align:center}
                    .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                    .tg .tg-yw4l{vertical-align:top}
                </style>
                <table class="tg table-striped">
                    <tr>
                        <th class="tg-hgcj">Наименование доходов</th>
                        <th class="tg-hgcj">2014</th>
                        <th class="tg-hgcj">2015</th>
                        <th class="tg-amwm">2016</th>
                        <th class="tg-amwm">2017</th>
                        <th class="tg-amwm">2018</th>
                        <th class="tg-amwm">2019</th>
                    </tr>
                    <tr>
                        <td class="tg-031e">Собственные</td>
                        <td class="tg-0ord">133 860 879</td>
                        <td class="tg-0ord">152 490 584</td>
                        <td class="tg-lqy6">174 211 929</td>
                        <td class="tg-lqy6">248 286 306</td>
                        <td class="tg-lqy6">205 349 433</td>
                        <td class="tg-lqy6">215 730 358</td>
                    </tr>
                    <tr>
                        <td class="tg-031e">Налоговое поступления</td>
                        <td class="tg-0ord">131 082 743</td>
                        <td class="tg-0ord">148 501 009</td>
                        <td class="tg-lqy6">168 354 979</td>
                        <td class="tg-lqy6">241 579 338</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Не налоговое поступления</td>
                        <td class="tg-lqy6">2 278 546</td>
                        <td class="tg-lqy6">2 345 676</td>
                        <td class="tg-lqy6">3 021 438</td>
                        <td class="tg-lqy6">4 636 349</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Поступления от продажи основного капитала</td>
                        <td class="tg-lqy6">499 590</td>
                        <td class="tg-lqy6">1 643 899</td>
                        <td class="tg-lqy6">2 835 512</td>
                        <td class="tg-lqy6">2 070 619</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Целевые трансферты из РБ</td>
                        <td class="tg-lqy6">39 971 671</td>
                        <td class="tg-lqy6">23 422 008</td>
                        <td class="tg-lqy6">48 231 633</td>
                        <td class="tg-lqy6">24 348 667</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Целевые трансферты на развитие из РБ</td>
                        <td class="tg-lqy6">18 378 459,4</td>
                        <td class="tg-lqy6">4 362 155</td>
                        <td class="tg-lqy6">13 984 933</td>
                        <td class="tg-lqy6">13 328 318</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Целевые текущие трансферты из РБ</td>
                        <td class="tg-lqy6">21 593 211,3</td>
                        <td class="tg-lqy6">19 059 853</td>
                        <td class="tg-lqy6">34 246 700</td>
                        <td class="tg-lqy6">11 020 349</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Поступления от погашения бюджетных кредитов</td>
                        <td class="tg-lqy6">208 665</td>
                        <td class="tg-lqy6">233 628</td>
                        <td class="tg-lqy6">510 101</td>
                        <td class="tg-lqy6">1 839 930</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Поступления от продажи активов государства</td>
                        <td class="tg-lqy6">18 968</td>
                        <td class="tg-lqy6">55 105</td>
                        <td class="tg-lqy6">15 000</td>
                        <td class="tg-lqy6">5 976</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Кредитование</td>
                        <td class="tg-lqy6">2 855 448</td>
                        <td class="tg-lqy6">1 936 985</td>
                        <td class="tg-lqy6">3 240 280</td>
                        <td class="tg-lqy6">2 911 690</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Свободный остаток</td>
                        <td class="tg-lqy6">17 803 365</td>
                        <td class="tg-lqy6">8 849 701</td>
                        <td class="tg-lqy6">7 929 918</td>
                        <td class="tg-lqy6">38 087 746</td>
                        <td class="tg-lqy6">0</td>
                        <td class="tg-lqy6">0</td>
                    </tr>
                </table>

            </md-card>










        </md-content>
    </div>





</div>