<div class="row" ng-controller="SocPromCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Промышленность</h3>

                    </div>

                </div>

            </md-card>







            <md-card>

                <md-tabs md-dynamic-height md-border-bottom>

                    <md-tab label="Объем промышленной продукции" ng-click="tabClk(1)">



                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">

                                <div class="col-md-5 text-left">




                                    <md-button class="md-raised md-primary">
                                        <md-icon class="material-icons">file_download</md-icon>

                                        <a href="assets/doc/02-Промышленность.docx" style="text-decoration: none; color: white">Аналитическая записка</a></md-button>

                                </div>


                                <div class="col-md-7 custom__label__date text-right">
                                    <span class="label" ng-click="selectDate('2010')" ng-class="{bg__color__active__date : activeMenu === '2010'}">2010</span>
                                    <span class="label" ng-click="selectDate('2011')" ng-class="{bg__color__active__date : activeMenu === '2011'}">2011</span>
                                    <span class="label" ng-click="selectDate('2012')" ng-class="{bg__color__active__date : activeMenu === '2012'}">2012</span>
                                    <span class="label" ng-click="selectDate('2013')" ng-class="{bg__color__active__date : activeMenu === '2013'}">2013</span>
                                    <span class="label" ng-click="selectDate('2014')" ng-class="{bg__color__active__date : activeMenu === '2014'}">2014</span>
                                    <span class="label" ng-click="selectDate('2015')" ng-class="{bg__color__active__date : activeMenu === '2015'}">2015</span>
                                    <span class="label" ng-click="selectDate('2016')" ng-class="{bg__color__active__date : activeMenu === '2016'}">2016</span>

                                </div>

                            </div>


                            <hr style="background-color: #d9d9d9; width: 100%">


                            <div class="row">

                                <div class="col-md-9">

                                    <div id="chart1"></div>
                                </div>


                                <div class="col-md-3" style="border: 2px solid #d9d9d9">


                                    <h6 class="title">Объем промышленности на 1 полугодие, млрд.тенге</h6>

                                    <div id="chart2"></div>

                                </div>

                            </div>







                        </md-content>








                    </md-tab>




                    <md-tab label="ИФО промышленной продукции" ng-click="tabClk(2)">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-12 custom__label__date text-right">
                                    <span class="label" ng-click="selectDate2('2010')" ng-class="{bg__color__active__date : activeMenu2 === '2010'}">2010</span>
                                    <span class="label" ng-click="selectDate2('2011')" ng-class="{bg__color__active__date : activeMenu2 === '2011'}">2011</span>
                                    <span class="label" ng-click="selectDate2('2012')" ng-class="{bg__color__active__date : activeMenu2 === '2012'}">2012</span>
                                    <span class="label" ng-click="selectDate2('2013')" ng-class="{bg__color__active__date : activeMenu2 === '2013'}">2013</span>
                                    <span class="label" ng-click="selectDate2('2014')" ng-class="{bg__color__active__date : activeMenu2 === '2014'}">2014</span>
                                    <span class="label" ng-click="selectDate2('2015')" ng-class="{bg__color__active__date : activeMenu2 === '2015'}">2015</span>
                                    <span class="label" ng-click="selectDate2('2016')" ng-class="{bg__color__active__date : activeMenu2 === '2016'}">2016</span>

                                </div>

                            </div>


                            <div class="row" style="margin-bottom: 30px">




                                <div id="charttab2"></div>


                            </div>




                            <div class="row">

                                <div class="col-md-6" style="border: 2px solid #d9d9d9">


                                    <h6 class="title">ИФО области по годам</h6>

                                    <div id="charttab21"></div>

                                </div>

                                <div class="col-md-6" style="border: 2px solid #d9d9d9">


                                    <h6 class="title">ИФО области за полугодие</h6>
                                    <div id="charttab22"></div>

                                </div>

                            </div>






                        </md-content>
                    </md-tab>
                    <md-tab label="Объем промышленной продукции 2017" ng-click="tabClk(3)">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-12 custom__label__date text-right">




                                    <span class="label" ng-click="selectDate3('январь')" ng-class="{bg__color__active__date : activeMenu3 === 'январь'}">январь</span>
                                    <span class="label" ng-click="selectDate3('февраль')" ng-class="{bg__color__active__date : activeMenu3 === 'февраль'}">февраль</span>
                                    <span class="label" ng-click="selectDate3('март')" ng-class="{bg__color__active__date : activeMenu3 === 'март'}">март</span>
                                    <span class="label" ng-click="selectDate3('апрель')" ng-class="{bg__color__active__date : activeMenu3 === 'апрель'}">апрель</span>
                                    <span class="label" ng-click="selectDate3('май')" ng-class="{bg__color__active__date : activeMenu3 === 'май'}">май</span>
                                    <span class="label" ng-click="selectDate3('июнь')" ng-class="{bg__color__active__date : activeMenu3 === 'июнь'}">июнь</span>
                                    <span class="label" ng-click="selectDate3('июль')" ng-class="{bg__color__active__date : activeMenu3 === 'июль'}">июль</span>
                                    <span class="label" ng-click="selectDate3('август')" ng-class="{bg__color__active__date : activeMenu3 === 'август'}">август</span>
                                    <span class="label" ng-click="selectDate3('сентабрь')" ng-class="{bg__color__active__date : activeMenu3 === 'сентабрь'}">сентябрь</span>
                                    <span class="label" ng-click="selectDate3('октябрь')" ng-class="{bg__color__active__date : activeMenu3 === 'октябрь'}">октябрь</span>

                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-12">

                                    <div id="chartTab333"></div>
                                </div>




                            </div>


                            <div class="row">

                                <div class="col-md-12 text-center">


                                    <h6 class="title">Объем промышленной продукции области 2017г., млрд. тенге</h6>

                                    <div id="chartTab3133"></div>

                                </div>


                            </div>




                        </md-content>
                    </md-tab>
                    <md-tab label="ИФО промышленной продукции 2017" ng-click="tabClk(4)">
                        <md-content class="md-padding" style="text-align: center">

                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-12 custom__label__date text-right">
                                    <span class="label" ng-click="selectDate4('январь')" ng-class="{bg__color__active__date : activeMenu4 === 'январь'}">январь</span>
                                    <span class="label" ng-click="selectDate4('февраль')" ng-class="{bg__color__active__date : activeMenu4 === 'февраль'}">февраль</span>
                                    <span class="label" ng-click="selectDate4('март')" ng-class="{bg__color__active__date : activeMenu4 === 'март'}">март</span>
                                    <span class="label" ng-click="selectDate4('апрель')" ng-class="{bg__color__active__date : activeMenu4 === 'апрель'}">апрель</span>
                                    <span class="label" ng-click="selectDate4('май')" ng-class="{bg__color__active__date : activeMenu4 === 'май'}">май</span>
                                    <span class="label" ng-click="selectDate4('июнь')" ng-class="{bg__color__active__date : activeMenu4 === 'июнь'}">июнь</span>
                                    <span class="label" ng-click="selectDate4('июль')" ng-class="{bg__color__active__date : activeMenu4 === 'июль'}">июль</span>
                                    <span class="label" ng-click="selectDate4('август')" ng-class="{bg__color__active__date : activeMenu4 === 'август'}">август</span>
                                    <span class="label" ng-click="selectDate4('сентабрь')" ng-class="{bg__color__active__date : activeMenu4 === 'сентабрь'}">сентябрь</span>
                                    <span class="label" ng-click="selectDate4('октябрь')" ng-class="{bg__color__active__date : activeMenu4 === 'октябрь'}">октябрь</span>

                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-12">

                                    <div id="charttab4"></div>
                                </div>




                            </div>



                            <div class="row" style="margin-top: 20px">

                                <div class="col-md-12">


                                    <h6 class="title">ИФО области Январь-Октябрь 2016</h6>

                                    <div id="charttab42"></div>

                                </div>

                            </div>




                        </md-content>
                    </md-tab>

                </md-tabs>




            </md-card>





            <md-card>

                <div class="row">





                    <div class="col-md-8">
                        <h4 class="title" style="text-transform: uppercase; margin-left: 10px">Структура промышленности</h4>

                        <div id="chartlist"></div>

                    </div>


                    <div class="col-md-4">


                        <md-list ng-cloak>


                            <md-divider></md-divider>

                            <md-list-item class="brd__left secondary-button-padding" ng-click="getParam('Горнодобывающая промышленность, млн. тенге')" ng-class="{bg__color__active : activeMenuList === 'Горнодобывающая промышленность, млн. тенге'}">

                                <p style="line-height: 20px">Горнодобывающая промышленность, млн. тенге</p>
                                <md-button class="md-secondary md-raised" ng-click="showDialog(1, 'Горнодобывающая промышленность, млн. тенге', $event)">Подробнее</md-button>
                            </md-list-item>


                            <md-divider></md-divider>



                            <md-list-item class="brd__left secondary-button-padding" ng-click="getParam('Обрабатывающая промышленность, млн. тенге')" ng-class="{bg__color__active : activeMenuList === 'Обрабатывающая промышленность, млн. тенге'}">

                                <p style="line-height: 20px">Обрабатывающая промышленность, млн. тенге</p>
                                <md-button class="md-secondary md-raised" ng-click="showDialog(2, 'Обрабатывающая промышленность, млн. тенге', $event)">Подробнее</md-button>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item class="brd__left secondary-button-padding" ng-click="getParam('Электроснабжение, млн. тенге')" ng-class="{bg__color__active : activeMenuList === 'Электроснабжение, млн. тенге'}">

                                <p style="line-height: 20px">Электроснабжение, млн. тенге</p>
                                <md-button class="md-secondary md-raised" ng-click="showDialog(3, 'Объем производства водоснабжения и электроснабжения', $event)">Подробнее</md-button>
                            </md-list-item>

                            <md-divider></md-divider>
                            <md-list-item class="brd__left secondary-button-padding" ng-click="getParam('Водоснабжение, млн. тенге')" ng-class="{bg__color__active : activeMenuList === 'Водоснабжение, млн. тенге'}">

                                <p>Водоснабжение, млн. тенге</p>
                                <md-button class="md-secondary md-raised" ng-click="showDialog(3, 'Объем производства водоснабжения и электроснабжения', $event)">Подробнее</md-button>

                            </md-list-item>

                            <md-divider></md-divider>






                        </md-list>







                    </div>





                </div>







            </md-card>












        </md-content>
    </div>





</div>