<div class="row" ng-controller="RashodPlanCtrl">
    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Динамика расходов (план), млн. тенге</h3>

                    </div>

                </div>

            </md-card>






            <div class="row">
                <div class="col-md-9">
                    <md-card>
                    <div id="chartdohod"></div>

                    </md-card>
                </div>

                <div class="col-md-3">

                    <md-card>

                        <md-list ng-cloak>

                            <md-list-item ng-click="getParam('Всего доходов')" ng-class="{bg__color__active : activeMenu === 'Всего доходов'}">

                                <p>Всего расходов</p>

                            </md-list-item>


                        </md-list>

                    </md-card>



                </div>


            </div>

            <div class="row">
                <div class="col-md-12">

                    <md-card>

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-0ord{text-align:right}
                            .tg .tg-lqy6{text-align:right;vertical-align:top}
                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-yw4l{vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj">Наименование доходов</th>
                                <th class="tg-hgcj">2014</th>
                                <th class="tg-hgcj">2015</th>
                                <th class="tg-amwm">2016</th>
                                <th class="tg-amwm">2017</th>
                                <th class="tg-amwm">2018</th>
                                <th class="tg-amwm">2019</th>
                            </tr>
                            <tr>
                                <td class="tg-031e"><strong>Расходы без изьятия</strong></td>
                                <td class="tg-0ord">143 507 736</td>
                                <td class="tg-0ord">126 304 752</td>
                                <td class="tg-lqy6">160 936 293</td>
                                <td class="tg-lqy6">222 407 075</td>
                                <td class="tg-lqy6">107 269 579</td>
                                <td class="tg-lqy6">110 553 002</td>
                            </tr>

                            <tr>
                                <td class="tg-yw4l clickable" data-toggle="collapse" data-target=".row1" style="cursor: pointer">
                                    <i class="glyphicon glyphicon-plus"></i>

                                    <strong>Текущий бюджет</strong>


                                </td>
                                <td class="tg-lqy6">98 598 010</td>
                                <td class="tg-lqy6">96 514 290</td>
                                <td class="tg-lqy6">124 376 727</td>
                                <td class="tg-lqy6">146 564 489</td>
                                <td class="tg-lqy6">89 049 525</td>
                                <td class="tg-lqy6">91 888 623</td>
                            </tr>
                            <tr class="collapse row1">
                                <td class="tg-yw4l" style="padding-left: 20px;">- за счет местного бюджета</td>
                                <td class="tg-lqy6">77 004 779</td>
                                <td class="tg-lqy6">77 454 437</td>
                                <td class="tg-lqy6">90 130 027</td>
                                <td class="tg-lqy6">135 544 140</td>
                                <td class="tg-lqy6">89 049 525</td>
                                <td class="tg-lqy6">91 888 623</td>
                            </tr>
                            <tr class="collapse row1">
                                <td class="tg-yw4l" style="padding-left: 20px;">- за счет трансфертов из РБ</td>
                                <td class="tg-lqy6">21 593 211</td>
                                <td class="tg-lqy6">19 059 853</td>
                                <td class="tg-lqy6">34 246 700</td>
                                <td class="tg-lqy6">11 020 349</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l clickable" data-toggle="collapse" data-target=".row2" style="cursor: pointer">
                                    <i class="glyphicon glyphicon-plus"></i>

                                    <strong>Бюджет развития</strong>


                                </td>
                                <td class="tg-lqy6">44 328 964</td>
                                <td class="tg-lqy6">29 283 256</td>
                                <td class="tg-lqy6">35 834 918</td>
                                <td class="tg-lqy6">74 228 947</td>
                                <td class="tg-lqy6">18 220 054</td>
                                <td class="tg-lqy6">18 664 379</td>
                            </tr>
                            <tr class="collapse row2">
                                <td class="tg-yw4l" style="padding-left: 20px;">- за счет трансфертов из РБ</td>
                                <td class="tg-lqy6">18 378 459</td>
                                <td class="tg-lqy6">4 162 155</td>
                                <td class="tg-lqy6">13 984 933</td>
                                <td class="tg-lqy6">13 328 318</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row2">
                                <td class="tg-yw4l" style="padding-left: 20px;">- за счет кредитов из РБ</td>
                                <td class="tg-lqy6">2 581 687</td>
                                <td class="tg-lqy6">1 629 779</td>
                                <td class="tg-lqy6">2 177 749</td>
                                <td class="tg-lqy6">2 845 934</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr class="collapse row2">
                                <td class="tg-yw4l" style="padding-left: 20px;">- за счет местного бюджета</td>
                                <td class="tg-lqy6">23 368 818</td>
                                <td class="tg-lqy6">23 491 322</td>
                                <td class="tg-lqy6">19 672 236</td>
                                <td class="tg-lqy6">58 054 695</td>
                                <td class="tg-lqy6">18 220 054</td>
                                <td class="tg-lqy6">18 664 379</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Кредиты из МБ</strong></td>
                                <td class="tg-lqy6">307 000</td>
                                <td class="tg-lqy6">200 000</td>
                                <td class="tg-lqy6">400 000</td>
                                <td class="tg-lqy6">810 000</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Прочие кредиты из РБ (с дипломом в село,
                                    моногород)</strong></td>
                                <td class="tg-lqy6">273 761</td>
                                <td class="tg-lqy6">307 206</td>
                                <td class="tg-lqy6">324 648</td>
                                <td class="tg-lqy6">803 639</td>
                                <td class="tg-lqy6">0</td>
                                <td class="tg-lqy6">0</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"><strong>Бюджетные изъятия в РБ</strong></td>
                                <td class="tg-lqy6">51 211 260</td>
                                <td class="tg-lqy6">1 936 985</td>
                                <td class="tg-lqy6">73 202 568</td>
                                <td class="tg-lqy6">93 073 240</td>
                                <td class="tg-lqy6">98 079 854</td>
                                <td class="tg-lqy6">105 177 356</td>
                            </tr>
                        </table>

                    </md-card>

                </div>

            </div>










        </md-content>
    </div>





</div>